.container {
    display: flex;
    margin: 0;
    padding: 0;
    
}

.sidebar-container{
    height: 100vh;
    background: #083F73;
    min-width: 20rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
}

.menu-container {
    margin: 3rem 1rem;
    position: relative;
}

.menu-content{
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
}

.menu-text:hover{
    color: white;
}

.sub-menu-content{
    display: flex;
}

.menu-icon{
    padding: 1rem;
    margin: 0;
    align-items: center;
}

.menu-text{
    align-items: top;
    padding: 0.5rem 0;
    margin: 0 1rem 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.content-container{
    background: greenyellow;
}

.ticket-item{
    position: absolute;
    margin-left: 4.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 5rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.ticket-item-content{
    color: #B7B1B1;
    text-decoration: none;
    padding: 0;
}

.navbar {
    
}