.login_form_backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 12;
}

.login_form {
    position: relative;
    width: 55rem;
    background-color: white;
    border-radius: 1rem;
    position: fixed;
    left: 50%;
    top: 50%;
    box-shadow: 0rem 0rem .5rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 13;
    translate: -50% -50%;
}

.login_form > .login_form_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    color: #083F73;
    font-weight: 600;
}

.login_form > .login_form_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    padding: 1rem 2rem;
    width: 30rem;
    margin: auto;
    margin-bottom: 2.8rem;
}

.login_form > .close_btn {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    line-height: 1em;
    padding: .5rem .8rem;
    right: .8rem;
    top: 1rem;
    transition: all .25s ease-in-out;
}

.login_form > .close_btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.login_form > .login_form_main > .login_group {
    display: flex;
    gap: .9rem;
    flex-direction: column;
    width: 100%;
}

.login_form > .login_form_main > .login_group > b {
    font-size: 1.4rem;
    font-weight: 600;
}

.login_form > .login_form_main > .login_group > input[type="text"], 
.login_form > .login_form_main > .login_group > input[type="password"] {
    border: 1px solid lightgray;
    padding: .8rem;
    border-radius: .5rem;
    outline: none;
    font-family: inherit;
    font-weight: 500;
}

.login_form > .login_form_main > .login_group > input[type="text"]::-webkit-input-placeholder {
    font-weight: 400;
    font-family: inherit;
}

.login_form > .login_form_main > .login_group > input[type="text"]:-ms-input-placeholder {
    font-weight: 400;
    font-family: inherit;
}

.login_form > .login_form_main > .login_group > input[type="text"]::-ms-input-placeholder {
    font-weight: 400;
    font-family: inherit;
}

.login_form > .login_form_main > .login_group > input[type="text"]::placeholder {
    font-weight: 400;
    font-family: inherit;
}

.login_form > .login_form_main > .submit_btn {
    width: 100%;
    padding: .8rem;
    border: none;
    border-radius: .5rem;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}