.container {
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar-container{
    height: 100vh;
    background: #083F73;
    width: 25rem;
}

.menu-container {
    margin: 5rem 3rem;
    background: darkblue;
}

.menu-content{
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-icon{
    padding: 2rem;
    margin: 0;
    align-items: center;
}

.menu-text{
    align-items: top;
    background: pink;
    padding-top: 0.6rem;
    margin: 0 2rem;
    font-weight: 600;
}
.content-container{
    background: greenyellow;
}

