.container {
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar-container{
    height: 100vh;
    background: #083F73;
    width: 25rem;
}

.menu-container {
    margin: 3rem 3rem;
}

.menu-content{
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
}

.sub-menu-content{
    display: flex;
}

.menu-icon{
    padding: 1rem;
    margin: 0;
    align-items: center;
}

.menu-text{
    align-items: top;
    padding-top: 0.4rem;
    margin: 0 1.5rem;
    font-weight: 600;
    font-size: 1.8rem;
}
.content-container{
    background: greenyellow;
}

