.ScheduleItem{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.ScheduleItem p{
  /* font-weight: 500; */
  text-align: center;
  /* background-color: aqua; */
}

.ScheduleItem p:nth-child(1){
  width: 27rem;
}

.ScheduleItem p:nth-child(2){
  width: 10rem;
}

.ScheduleItem p:nth-child(3){
  width: 14rem;
}

.ScheduleItem p:nth-child(4){
  width: 17.5rem;
}

.ScheduleItem button{
  background-color: #417DD8;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  padding: .3rem 1.2rem;
  margin-left: 5rem;
}
