.Schedule{
  padding: 0 33rem;
  padding-top: 3rem;
  overflow: hidden;
}

.searchTitle{
  color: #417DD8;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.search input{
  border: 1px solid #417DD8;
  border-radius: 10px;
  padding: 1rem 1.8rem;
  font-size: 1.8rem;
  font-family: inherit;
  width: 38rem;
}

.search input:focus{
  outline: none;
}

.search input::placeholder{
  color: #A2ABB3;
}

.table{
  /* overflow: scroll; */
  width: 100%;
  border: 2px solid #417DD8;
  height: 69vh;
  border-radius: 12px;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.header{
  display: flex;
  align-items: center;
  background-color: #417DD8;
  padding: 1.5rem 0rem;
  color: #ffffff;
  gap: 1rem;
}

.header p{
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  /* background-color: aqua; */
}

.header p:nth-child(1){
  width: 27rem;
}

.header p:nth-child(2){
  width: 10rem;
}

.header p:nth-child(3){
  width: 14rem;
}

.content{
  overflow-y: scroll !important;
  max-height: 100%;
}

.content >p{
  background-color: #E2ECF9;
  color: #083F73;
  padding: 1.5rem 3.5rem;
  font-weight: 500;
  font-size: 1.7rem;
}
